<template>
<div>
  <div :key="row.id" :id="row.id" class="row grid-x" v-for="(row, index) in rows">
    <draggable :key="row.id" >
      <transition-group  :key="row.id"  name="list-complete " >
        <div class="options" >
          <i @click="DeleteRow(index)" class="fi-x-circle"></i>
          <i class="handlerow fi-arrows-out"></i>
        </div>
      <div class="auto cell" :id="column.id" v-for="column in row.columns" v-html="column.content"></div>
 </transition-group>
  </draggable>
  </div>
  </div>
</template>
<script>
import draggable from 'vuedraggable'
import { mapState } from 'vuex'
import Column from './Column.vue'
export default {
  name: 'row',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
    draggable,
    Column
  },
  computed: mapState(['rows']),
  methods: {
    AddRow () {
      this.$store.commit('AddRow')
    },
    DeleteRow (index) {
      this.$store.commit('DeleteRow', index)
      // this.rows.splice(index, 1)
    }
  }
}
</script>
<style>
.row{
    background: lightblue;
    min-height: 10vh;
    border: 2px dashed black;
    border-radius: 40px;
    text-align: center;
    align-content: center;
}
.options {
    display: none;
}
.row:hover .options{
/*display : block;*/
    display: flex;
    position: relative;
    left: 21px;
}
.row:hover + .hover {
}
.list-complete-item {
  padding: 4px;
  margin-top: 4px;
  transition: all 1s;
}

.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
}
</style>
