<template >
<main>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
  <div :key="row.id" :id="row.id" class="row grid-x" v-for="(row, index) in rows">
    <i @click="DeleteRow(index)"class="handlerow fi-arrows-out"></i>
    <div class="auto cell" :id="column.id" v-for="column in row.columns" v-html="column.content"></div>
  </div>
  <div class="grid-x">
    <button @click="AddRow" class="expanded button"> + </button>
  </div>
  <div class="grid-x">
<div class="auto cell" > una columna </div>
<div class="auto cell" > dos columnas </div>
<div class="auto cell" > tres columnas  </div>
<div class="auto cell" > cinco cortas </div>
<div class="auto cell" > seis cortas  </div>
  </div>
   <div class="grid-x">
<div class="auto cell" > una larga una corta </div>
<div class="auto cell" > dos corta una larga </div>
<div class="auto cell" > una corta una larga </div>
<div class="auto cell" > una larga dos cortas </div>
<div class="auto cell" > una corta una larga una corta </div>
  </div>
</main>
</template>

<script>
import Row from './components/Row.vue'
import draggable from 'vuedraggable'
export default {
  name: 'app',
  data () {
    return {
      borrar: '',
      rows: [
        {
          id: '1fila',
          columns: [
          {id: 'columna1', content: '<div> columna1 </div>'},
          {id: 'columna1', content: '<div> columna1 </div>'}
          ]
        },
        { id: '4fila',
          columns: [
           {id: 'columna1', content: '<div> columna1 </div>'}
          ]
        }
      ]
    }
  },
  components: { Row, draggable },
  mounted () {
  },
  methods: {
    AddRow () {
      this.rows.push(
        {
          id: 'fila-' + Math.floor(Math.random() * (500 - 0)),
          columns: [
            {
              id: 'columna1',
              content: '<div> ' + Math.floor(Math.random() * (500 - 0)) + ' </div>'
            }
          ]
        }
        )
    },
    DeleteRow (index) {
      this.rows.splice(index, 1)
    }
  }
}
</script>
<style lang="scss">
@import '/styles/global';
app { 
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: 2c3e50;
  margin-top: 60px;
}
.handlerow {
    display: none;
}
.row:hover .handlerow{
/*display : block;
una columna
dos columnas
tres columnas 
una corta una larga
una larga una corta
dos corta una larga
una larga dos cortas
una corta una larga una corta
cinco cortas
seis cortas

*/
    display: flex;
    position: relative;
    left: 21px;
}
</style>
